@import "tailwindcss";

:root {
  --gold-gradient: linear-gradient(
    22deg,
    #eec876 13.91%,
    /* #ba8a44 70.09%, */
    #b3813d 86.09%
  );
}

@theme inline {
  --color-background: #111;
  --color-foreground: #F5F5F5;
  --color-primary: var(--gold-gradient);
  --font-heading: var(--font-abhaya-libre);
  --font-body: var(--font-montserrat);
}

@utility font-accent {
  font-family: var(--font-cinzel);
}

@layer components {
  .text-gold-gradient {
    background: var(--gold-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-size: clamp(2.5rem, 5vw, 5.125rem);
  font-weight: 700;
  line-height: 1.15;
}

h2 {
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-size: clamp(1.75rem, 2.5vw + 1rem, 2.875rem);
  font-weight: 800;
  line-height: 1.15;
}

.section-container {
  @apply max-w-7xl mx-auto py-16 px-4;
}

.section-sub-heading {
  @apply text-white font-normal !font-body text-sm uppercase tracking-wider;
}
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

a{
  text-decoration: none;
  color: var(--color-foreground);
}
